{% extends "base.html" %}

{% block title %}Add page{% endblock %}
{% block h1 %}Add page{% endblock %}
{% block content %}
	<a href="/pages/">Nah, laat maar zitten, terug naar pages.</a>
    <form>
    	<p>{{ form.title }}</p>
    	<p>{{ form.content }}</p>
    	<p>{{ form.description }}</p>
    	<p>{{ form.location }}</p>
    	<p>{{ form.template }}</p>
    	<p>{{ form.parent }}</p>
    	<p>{{ form.menu }}</p>
    	<p>{{ form.status }}</p>
    	<p><input type="submit" alt="Register" value="Add page / Publish / wat anders stoers"/></p>
    </form>
{% endblock %}