{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}
{% block nav %}
        <div class="nav">
            <ul>
                <li><a class="pages" href="/pages/">Pages</a></li>
                <li><a class="themes" href="/themes/">Themes</a></li>
                <li><a class="menus" href="/menus/">Menus</a></li>
                <li><a class="modules" href="/modules/">Modules</a></li>
            </ul>
        </div>
{% endblock %}
{% block h1 %}Dashboard{% endblock %}
{% block content %}
    <p>Content</p>
    <a href="/pages/">Pages</a>
    <a href="/themes/">Themes</a>
    <a href="/menus/">Menus</a>
    <a href="/modules/">Modules</a>
{% endblock %}