{% extends "base.html" %}
{% block content %}

        <ol id="menulist", class='listitems'>
                {% for menu in menus %}
                <li><p><a href="/menus/"><img src="{{ menu.image1.url }}" />{{ menu }}</a></p></li>
                {% endfor %}

                {% for parent in menus %}
                <p><a href="/menus/">{{ parent }}</a></p>
                {% endfor %}              
        </ol>

		<script>$(function  () {
		  $("ol.listitems").sortable()
		}) </script> 

{% endblock %}