{% extends "base.html" %}
{% block content %}

        <ol id="menulist", class='parentitems'>
                {% for parent in parent %}
                <li><p><a href="/menus/">{{ parent }}</a></p></li>
                {% endfor %} 
                

        </ol>
        <ol id="menulist", class='listitems'>
                {% for menu in menus %}
                <li><p><a href="/menus/"><img src="{{ menu.image1.url }}" />{{ menu }}</a></p></li>
                {% endfor %}   
        </ol>
                <script src='js/jquery-sortable.js'>$(function  () {
                  $("ol.listitems").sortable()
                  $("ol.parentitems").sortable()                 
                
                }) </script>

{% endblock %}