{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Dynamische titel?</title>
	<link href="{% static "sjaan_thema/css/style.css" %}" media="screen" type="text/css" rel="stylesheet" />
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>

	<!-- Add jQuery library -->
	<script type="text/javascript" src="js/jquery-1.9.0.min.js"></script>

	<!-- Add fancyBox -->
	<link rel="stylesheet" href="css/jquery.fancybox.css" type="text/css" media="screen" />
	<script type="text/javascript" src="js/jquery.fancybox.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox();
	});
</script>
</head>
<body class="home">
	<div class="container">
		<div id="header">
			<a class="logo" href="#">LOGO</a>
			{% block nav %}
			<div id="nav">
				<ul>
					{% for title in pages %}
			        	<li class="page">{% if page.title = title %}<a class="active" href="/{{ title.url }}/">{% else %}<a href="/{{ title.url }}/">{% endif %} {{ title }}</a></strong></li>
			        {% endfor %}
				</ul>
			</div>
			{% endblock %}
		</div>
		{% if page.template == 'H' %}
			{% include "sjaan_thema/landing.html" %}
		{% elif page.template == 'P' %}
			{% include "sjaan_thema/fullwidth.html" %}
		{% else %}
			{% include "sjaan_thema/fullwidth.html" %}
		{% endif %}
	</div>
</body>
</html>