{% extends "base-other.html" %}
{% load i18n %}

{% block title %}Password reset CMS{% endblock %}

{% block content %}

<div class="password-reset">
<h1 class="title">{% trans "Forgot your password?" %}</h1>

<h2 class="description">{% trans "Don’t wory, fill in your email adress below and we will send it right at you!" %}</h2>

<div class="form-reset">
	<form action="" method="post">{% csrf_token %}
	{{ form.email.errors }}
	<label for="id_email">{% trans 'Email address:' %}</label> {{ form.email }} <input type="submit" class="reset-button" value="{% trans 'Reset my password' %}" />
	</form>
</div>
</div>

{% endblock %}
