    <form class="editor" action="" method="post">
{% if form.errors %} <p> Please correct the fields: {{form.errors}} </p> {% endif %}
        {% csrf_token %}
        <ul>
        <p><label> Template </label>
        {{ form.template }}</p>
        <p><label> Author </label>
        {{ form.author }}</p>
        <p><label> Title </label>
        {{ form.title }}</p>
        <p><label>URL</label>
        {{ form.url }}</p>
        <p><label> Content </label>
        {{ form.content }}</p>
        <div id="useSidebar" style="display:none;">
            <p><label> Sidebar </label>
            {{ form.useSidebar }}</p>
        </div>
        <div id="editSidebar" style="display:none;">
            <p><label> Sidebar Title</label>
            {{ form.sidebarTitle }}</p>
            <p><label> Sidebar</label>
            {{ form.sidebar }}</p>
        </div>
        <p><label> Desription </label>
        {{ form.description }}</p>
        <p><label> Status </label>
        {{ form.status }}</p>
        <p><label> Menu </label>
        {{ form.menu }}</p>
        <p><label> Parent </label>
        {{ form.parent }}</p>
        <p style="height:2em"><input type="submit" alt="Register" value="Add page"/></p>
    </ul>
    </form>

<script>
$(document).ready(function() {
    if ($('select#id_template').val() == 'H' ){ 
        $('#useSidebar').show();
        if ($('input#id_useSidebar').is(":checked")) {
            $('#editSidebar').show();
        }
    }
});

$('select#id_template').change(function() {
    if ($(this).val() == 'H' ){ 
        $('#useSidebar').show();
        if ($('input#id_useSidebar').is(":checked")) {
            $('#editSidebar').slideDown();
        }
    }
    
    else {
        $('#useSidebar').hide();
        $('#editSidebar').slideUp(); 
    }
});

$('input#id_useSidebar').change(function() {
    if ($('input#id_useSidebar').is(":checked")) {
        $('#editSidebar').slideDown();
    }

    else {
        $('#editSidebar').slideUp();
    }
});
</script>
