	<a href="/pages/" class="button">Back to pages</a>
    <form class="editor" action="" method="post">
{% if form.errors %} <p> Please correct the fields: {{form.errors}} </p> {% endif %}
        {% csrf_token %}
        <ul>
        <label> Template </label>
        <p>{{ form.template }}</p>
        <label> Author </label>
        <p>{{ form.author }}</p>
        <label> Title </label>
        <p>{{ form.title }}</p>
        <label>URL</label>
        <p>{{ form.url }}</p>
        <label> Content </label>
        <p>{{ form.content }}</p>
        <div id="useSidebar" style="display:none;">
            <label> Sidebar </label>
            <p>{{ form.useSidebar }}</p>
        </div>
        <div id="editSidebar" style="display:none;">
            <label> Sidebar Title</label>
            <p>{{ form.sidebarTitle }}</p>
            <label> Sidebar</label>
            <p>{{ form.sidebar }}</p>
        </div>
        <label> Desription </label>
        <p>{{ form.description }}</p>
        <label> Location </label>
        <p>{{ form.location }}</p>
        <label> Status </label>
        <p>{{ form.status }}</p>
        <label> Menu </label>
        <p>{{ form.menu }}</p>
        <label> Parent </label>
        <p>{{ form.parent }}</p>
        <p style="height:2em"><input type="submit" alt="Register" value="Add page"/></p>
    </ul>
    </form>

<script>
$(document).ready(function() {
    if ($('select#id_template').val() == 'H' ){ 
        $('#useSidebar').show();
        if ($('input#id_useSidebar').is(":checked")) {
            $('#editSidebar').show();
        }
    }
});

$('select#id_template').change(function() {
    if ($(this).val() == 'H' ){ 
        $('#useSidebar').show();
        if ($('input#id_useSidebar').is(":checked")) {
            $('#editSidebar').slideDown();
        }
    }
    
    else {
        $('#useSidebar').hide();
        $('#editSidebar').slideUp(); 
    }
});

$('input#id_useSidebar').change(function() {
    if ($('input#id_useSidebar').is(":checked")) {
        $('#editSidebar').slideDown();
    }

    else {
        $('#editSidebar').slideUp();
    }
});
</script>