.transition2 {
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
}

.transition4 {
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
}

* {
	margin:0;
	padding:0;
}

ul, li {
	list-style: none;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

a, button, input[type='submit']  {
	cursor: pointer;
}

body,html{
  width:100%;
  height:100%;
}

body {
	font-family: 'Lato', Arial, sans-serif;
	background:#dadada;
	padding:50px 0 0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.container {
	width:100%;
	min-height:100%;
}

.content {
	width: 1000px;
	margin: 0 auto;
}

.form {
	width: 500px;
	margin: 0 auto;
}

.register_div {
	margin:10px 0;
}

#header {
	position:fixed;
	top:0;
	left:0;
	overflow: hidden;
	width:100%;
	height: 60px;
	background:#353a40;
	z-index:999;
}

#header a h1 {
	text-indent: -9999px;
	background: url(../img/logo.png) no-repeat;
	background-size: 150px;
}

.logo {
	margin: 15px 10px 10px 10px;
	width: 150px;
	float: left;
}
.logo a {
	display: block;
}

.nav {
	float: left;
}

.nav li, .profile-options li {
	list-style: none;
	float: left;
	height: 60px;
	border-right: 1px solid #53575c;
	line-height: 30px;
	position: relative;
}

.nav li a, .profile-options li a {
	color: #fff;
	font-size: 13px;
	padding:30px 40px 0px 40px;
	display: block;
	text-decoration: none;
}

.nav li a:hover, .profile-options li a:hover {
	background: #2a2e33;
}

.nav li a.active {
	background-color: #2a2e33;
}

.nav li a.pages span {
	position: absolute;
	top: 10px;
	left:50px;
	width: 13px;
	height: 17px;
	display: block;
}

.nav li a.themes span {
	position: absolute;
	top: 10px;
	left:52px;
	width: 21px;
	height: 21px;
	display: block;
}

.nav li a.menus span {
	position: absolute;
	top: 10px;
	left:49px;
	width: 21px;
	height: 18px;
	display: block;
}

.nav li a.modules span {
	position: absolute;
	top: 10px;
	left:53px;
	width: 21px;
	height: 21px;
	display: block;
}

.profile-options {
	float: right;
}


.profile-options li {
	position: relative;
}

.profile-options li a.logout span {
	position: absolute;
	top: 10px;
	left: 47px;
	width: 20px;
	height: 17px;
	display: block;
}

#content {
	width:100%;
	float: left;
}

.cms-content {
	width:100%;
	padding:40px 20px 70px 280px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.center {
	text-align: center;
	margin-top:5%;
}

.center h1 {
	font-size:100px;
	font-weight: 300;
	color:#353a40;
}

.editor-left {
	float:left;
	width:670px;
}

.cms-content h1 {
	font-size:50px;
	font-weight: 300;
	color:#353a40;
}

.container {
	width: 1000px;
}

#footer {
	position: fixed;
	bottom:0;
	left:0;
	height:35px;
	width:100%;
	background:#353a40;
	bottom:0;
	z-index:999;
}

#footer p {
	float: right;
	color: #fff;
	margin-right: 15px;
	margin-top:8px;
}

#footer a {
	color: #009cff;
	text-decoration: none;
}

button {
	background:#009cff;
	border:none;
	color:#fff;
	padding:6px 0;
	width:120px;
	font-family: 'Lato', Arial, sans-serif;
	font-weight:300;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
}

button:hover {
	background:#007FCE;
}

a.button {
	background: #009cff;
	display: block;	
	border: none;
	color: #fff;
	padding: 5px 40px;
	width: 120px;
	font-family: 'Lato', Arial, sans-serif;
	font-weight: 300;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	text-decoration: none;
}


.button.big {
	width:250px;
	margin: auto;
	font-size: 22px;
}

a.button:hover {
	background:#007FCE;
	text-decoration: none;
}

button.big {
	padding:6px 0;
	width:240px;
	font-size:1.5em;
}

h2 {
	color:#353a40;
	font-weight: 300;
	margin:50px 0 15px 0;
}

form#login {
	margin:0 auto;
	width:240px;
}

form.editor {
	
}

input {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

input[type='text'], input[type='password'] {
	background:#fff;
	border:none;
	color:#353a40;
	padding:9px 10px;
	margin:5px 0;
	width:100%;
	font-family: 'Lato', Arial, sans-serif;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
}

textarea {
	border:none;
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
}

input:hover, input:focus, textarea:hover, textarea:focus {
	background:#EFEFEF;
}

input[type="submit"] {
	background:#009cff;
	border:none;
	color:#fff;
	padding:6px 0;
	margin:5px 0;
	width:100px;
	float:right;
	font-family: 'Lato', Arial, sans-serif;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
}

input[type="submit"]:hover {
	background:#007FCE;
}

a.silly {
	font-size:9pt;
	float:left;
	color:#353a40;
	text-decoration: none;
	padding:8px 0;
	margin:5px 0;
}

a:hover {
	text-decoration: underline;
}

div.ballon {
	position:absolute;
	top:70px;
	right:50px;
	width:300px;
	height:174px;
	background: url(../img/ballon.png);
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
}

div.ballon:hover{
	background: url(../img/ballonhover.png);
}

.sidebar {
	width: 250px;
	background-color: #2a2e33;
	color:#fff;
	height: 100%;
	position:fixed;
	float: left;
	padding:40px 10px;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

.sidebar ul {
	margin:10px 0;
}

.sidebar li {
	padding:10px;
}

.sidebar li a {
	display: block;
}

.sidebar li a.page-link {
	color:#6e7072;
	text-decoration: none;
	font-weight: 300;
	text-overflow: ellipsis;
	overflow: hidden;
	height: 20px;
	display: block;
	width: 85%;
	white-space: nowrap;
}

.sidebar a.page-link:hover {
	color:#fff;
}

.sidebar a span {
	background: url(../img/trash.png) no-repeat;
	width: 14px;
	height: 16px;
	float: right;
	display: block;
	margin-top:3px;
}

.sidebar a span:hover {
	background: url(../img/trash-hover.png) no-repeat;
	width: 14px;
	height: 16px;
	float: right;
	display: block;
	margin-top:3px;
}

p.user-loggedin {
	color: #fff;
	padding:0px 20px;
	line-height: 60px;
}

img.page-bg {
	margin-left:40%;
}

h1.title {
	font-size:80px;
	font-weight: 300;
	color:#353a40;
	text-align: center;
}

h2.description {
	margin:0;
	text-align: center;
}

.form-reset {
	margin: auto;
	width: 250px;
	margin-top:25px;
}

input.reset-button{
	width: 250px;
	height: 35px;
	font-size: 16px;
	}

.password-reset {
	margin-top:50px;
}

.editor ul {
	width: 500px
}

.editor ul select {
	width: 500px;
}

.editor ul p {
	margin:10px 0;
}
#id_content_tbl, #id_sidebar_ifr {
	width:500px !important;
	height: 150px;
}

ul.errorlist li {
	list-style: none;
	background: #b00b1e;
	color: #fff;
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	font-size: 13px;
	margin: 10px 0;
}